* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.half_row {
    height: 50%;
}
.sixty {
    height: 60px;
}
.center {
    align-self: center;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    background: burlywood;
    width: 600px;
    height: 100%;
    margin: 0 auto;
}
.unit_btn {
    width: 50px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
}
.weather_temp {
    flex: 4 1 auto;
    order: 1;
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
}
.weather {
    width: 65%;
}
#city_display {
    font-size: 1.5em;
    padding: 10px;
}
#weather_display {
    text-align: center;
    padding-top: 1em;
}
.temp {
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(255,255,255, 0.3);
    padding: 5px;
}
.temperature {
    flex: 2 1 auto;
    display: flex;
    align-items: center;
}
.temperature p {
    font: 2em arial;
}
.switch {
    flex:1 1 auto;
    justify-content: flex-end;
}
.humidity {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.temp_range {
    flex: 1 1 auto;
}
.graph_wndspd {
    flex: 3 1 auto;
    order: 2;
    width: 100%;
}
.graph {
    flex: 1 1 auto;
    background-color: rgba(255,255,255, 0.2);
}
.wind {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
}
.wind_data {
    text-align: center;
}
.wind_block {
    width: 50%;
    padding-top: 40px;
}
.graph, .wind {
    width: 100%;
}
.five_day {
    flex: 4 1 auto;
    order:3;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}
.day {
    width: 8em;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}
.day_fill {
    flex: 1 1 auto;
}

.day, .day_fill, .wind_block {
    text-align: center;
}
.day_lines {
    border-right: 1px solid white;
}
.date {
    width: 100%;
    flex: 1 1 auto;
}
footer {
    order: 4;
    flex:1 1 auto;
}