* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.half_row {
    height: 50%;
}
.sixty {
    height: 60px;
}
.center {
    align-self: center;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    background: lightblue;
    width: 600px;
    height: 100%;
    margin: 0 auto;
}
.weather_temp {
    flex: 1 1 auto;
    order: 1;
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
}
.weather {
    width: 65%;
}
.temp {
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
}
.temperature {
    flex: 2 1 auto;
    display: flex;
    align-items: center;
}
.temperature p {
    font: 2em arial;
}
.switch {
    flex:1 1 auto;
    justify-content: flex-end;
}
.humidity {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.tempRange {
    flex: 1 1 auto;
}
.graph_wndspd {
    flex: 1 1 auto;
    order: 2;
    width: 100%;
}
.graph {
    flex: 1 1 auto;
}
.wind {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
}
.wind_data {
    text-align: center;
}
.wind_block {
    width: 50%;
}
.graph, .wind {
    width: 100%;
}
.five_day {
    flex: 1 1 auto;
    order:3;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.day {
    width: 8em;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}
.day p {
    flex: 1 1 auto;
}
.day_lines {
    border-right: 1px solid white;
}
.date {
    height: 2em;
    width: 100%;
    flex: 1 1 auto;
}
footer {
    order: 4;
    flex:.1 .1 auto;
}