body {
    background-color: #77C9F7;
    font: 1.5em 'Lato', sans-serif;
    color: white;
}

.zipInput {
   grid-column: container-column-6 / span 2;
   justify-self: end;
   display: inline-block;  

}

.center {
    text-align: center;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: [container-column-1] 30px [container-column-2] 150px [container-column-3] 150px [container-column-4] 150px [container-column-5] 20vw [container-column-6] 50px [container-column-7] 85vh [container-column-8] 30px;
    grid-template-rows: [container-row-1] 50px [container-row-2] 50px [container-row-3] 100px [container-row-4] 200px [container-row-5] 100px [container-row-6] 30vh [container-row-7] 100px;
    background: #77C9F7;
}
.weather {
    grid-column: container-column-2 /span 4;
    grid-row: container-row-1 / span 4;
    display: grid;
    grid-template-columns: [weather-column-1] 100px [weather-column-2] 10vw [weather-column-3] 150px [weather-column-4]50px [weather-column-5] 60px [weather-column-6] 20vw;
    grid-template-rows: [weather-row-1] auto [weather-row-2] 20px [weather-row-3]100px [weather-row-4] 100px  [weather-row-5] auto  [weather-row-6] 30vh; 
}
.weather_img {
    grid-column: weather-column-1 / weather-column-2;
    grid-row: weather-row-3 / weather-row-4;
}
.weather_city {
    grid-column: weather-column-1;
    grid-row: weather-row-1;
    align-self: center;
}
.weather_temp {
    grid-column: weather-column-3;
    grid-row: weather-row-3 /weather-row-5;
    font-size: 5em;
    align-self: center;
}
.weather_unit-btn {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border: 2px white solid;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    grid-column: weather-column-5;
    grid-row: weather-row-3;
    align-self: end;
}
.weather_desc {
    grid-column: weather-column-1;
    grid-row: weather-row-5;
    align-self: end;
}
.weather_addl-info {
    grid-column: weather-column-1 / span 5;
    grid-row: weather-row-6 / span 2;
    display: grid;
    grid-template-columns: [info-column-1] 100px [info-column-2] 100px [info-column-3] 100px [info-column-4] 100px;
    grid-template-rows: [info-row-1] 50px;
    grid-column-gap: 10px;
    line-height: 4px;
}
.weather_humidity {
    grid-column: info-column-2;
    grid-row: info-row-1;
}
.weather_wind {
    grid-column: info-column-1;
    grid-row: info-row-1;
}
.weather_pressure {
    grid-column: info-column-3;
    grid-row: info-row-1;
}
.weather_percip {
    grid-column: info-column-4;
    grid-row: info-row-1;
}

.weather_temp-range {
    grid-column: weather-column-6;
    grid-row: weather-row-4 / weather-row-5;
    font-size: .75em;
}

.graph {

}
.five_day {
    grid-column: container-column-7 / span 2;
    grid-row: container-row-2 / span 2;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw;
    grid-template-rows: 25vh;
    /* grid-auto-flow: column; */
    grid-column-gap: 10px;
}
.day {
    background-color: #67C2F5;
}
.day_fill {

}
.day, .day_fill, .wind_block {
    text-align: center;
}
.day_lines {

}
.date {

}

footer {
    grid-column: container-column-2 /span 3;
    grid-row: container-row-7;
}